server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://root:gdwWyhKEuHsRLckSoaytJmlSgkUVBNBd@mysql.railway.internal:3306/railway
    username: root
    password: gdwWyhKEuHsRLckSoaytJmlSgkUVBNBd 
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 10
      minimum-idle: 5
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          batch_size: 10
        order_inserts: true
        order_updates: true
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

logging:
  level:
    org.springframework: INFO
    com.example: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE